body{
    margin:0;
    padding:0;
}

@media only screen and (max-width: 779px) {
#small {
display: none;
}
}

@media only screen and (max-width: 779px) {
#navbarbig{
display: none;

}
}

@media only screen and (min-width: 779px) {
#navbarsmall{
display: none;

}
}

.nav-link.a:hover { background-color:grey !important;
border-radius: 60px; 
width:100px;
border:1px solid transparent;
}

.nav-link:hover {
background-color: #6A6D6C !important;

border-radius: 60px; 
height: 40px;
color:white;


}


@media only screen and (max-width: 1200px) {
.contact {
display: none;
}
}

@media only screen and (max-width: 592px) {
#threeimages{
display: none;

}
}

@media only screen and (min-width: 592px) {
#belowthreeimages{
display: none;

}
}

@media only screen and (min-width: 779px) {
#card2 {
display: none;
}
}


@keyframes slideUp {
0% {
transform: translateY(100%);
}
100% {
transform: translateY(0);
}
}

.slide-up {
animation: slideUp 1s ease-in-out;
}

.slide-up1 {
animation: slideUp 2s ease-in-out;
}



.globe{
background-image: url('globe.png');
background-repeat: no-repeat;
height: 900px;
width:80%;
background-size: contain;
margin-top:-30px;
}


@media only screen and (max-width: 1201px) {
#railybig{
display: none;

}
}

@media only screen and (min-width: 1200px) {
#railysmall{
display: none;

}
}

#wrap-music{

display: flex;

}

#tilt-music{

}






